<div class="container">
  <h1 class="text-center">The Original 151 Pokemon</h1>
  <div class="row">
    <% pokemon.forEach(function(pokemon, index) { %>
      <div class="col s6 m4 l4">
        <div card-image>
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= index+1 %>.png" alt="<%= pokemon.name %>">
        </div>
        <div class="card-content">
          <h6><%= index+1 + '. ' + pokemon.name %></h6>
          <form method="POST" action="/pokemon">
            <input hidden type="text" name="name" value="<%= pokemon.name %>">
            <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
          </form>
        </div>
      </div>
    <% }); %> 
  </div>
</div>
