<div class="container">
    <h1>Favorite Pokemons</h1>
    <ul class="collection with-header">
        <% myPoke.forEach((p) => { %>
            <li class="collection-item" >
                <div class="row">
                    <div class="col s11">
                        <a href="/pokemon/<%= p.id %>">
                            <h5><%= p.name %></h5>
                        </a>  
                    </div>
                    <div class="col s1">
                        <form method="POST" action="/pokemon/<%= p.id %>/?_method=DELETE" class="lightblue secondary-content">
                            <button type="submit" class="btn-floating  waves-effect waves-light" value="Delete">
                                <i class="material-icons">clear</i>
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        <% }) %> 
    </ul>
</div>
